.conteudo-principal {
    display: flex;
    flex: 1;
}

.conteudo-esquerda {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 5%;    
}

.container-esquerda {
    width: 100%;
    max-width: 400px; 
}

.cadastro-form {
    display: flex;
    flex-direction: column;    
}

.full-width {
    width: 100%;
}

.conteudo-direira {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.cima {
    display: block;    
    font-size: 40px;
    font-weight: 500;
    color: var(--preto-padrao);
}

.baixo {
    font-size: 33px;
    font-weight: 500;
}
