html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.conteudo-principal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    padding-top: 5px;
}

.conteudo-esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
    max-width: 500px;
    padding-top: 10px;
}

.full-width {
    width: 100%;
    max-width: 90%;
}

.conteudo-direira {
    flex: 1;
    display: flex;  
    justify-content: center;   
}

.imagem {
    width: 100%; 
    object-fit: cover;
}

.cima {
    display: block;    
    font-size: 40px;
    font-weight: 500;
    color: var(--preto-padrao);
}

.baixo {
    font-size: 33px;
    font-weight: 500;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 9999; 
}
  
.botao-container {
    display: flex;
    width: 90%;
    gap: 10px;
}

.botao-container button {
    flex: 1;
    max-width: 90%;
}