<app-cabecalho></app-cabecalho>

<div class="cadastrar-usuario">
    <div class="envelope">
        <main class="conteudo-principal">
            <form action="" class="conteudo-esquerda">
                <h1 class="titulo-principal">
                    <span class="cima">Olá!</span>
                    <span class="baixo">Vamos criar seu cadastro.</span>
                </h1>

            </form>

            <div class="conteudo-direira">
                <img class="imagem" src="assets/cubos.png" alt="Imagem de decoração de 3 cubos multicolor">
            </div>
        </main>
    </div>
</div>



























<app-rodape></app-rodape>