
.conteudo-principal {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, 
        #0f2027, #203a43, #2c5364  
    );
    background-size: 200% 200%;
    animation: gradientShift 8s ease-in-out infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    background: rgba(255, 255, 255, 0.603); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(12px);
    text-align: center;
}

.login-form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.full-width {
    width: 100%;
}

.botao-entrar {
    width: 100%;
    padding: 10px;
}

.link-cadastro {
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding-top: 30px;
    text-align: center;
}
