:root{  
    --verde-claro:#b9e1bb;
    --verde-escuro:#5e9d76;
    --preto-padrao:#09090A;
    --cinza-backgound:#F9FBFD;
    --cinza-claro:#B8B7B7;
    --cinza-escuro:#767684;
    --branco-padrao: #f9f9f9;
}